<app-navbar></app-navbar>

<h2 class="display-1 text-center mt-5"> Atividade 3</h2>

<h2 class="mx-5 my-2"> Feito por: João Pedro Moura Tuneli - RM93530 </h2>

<h2 class="mx-5 my-2"> Feito por: Abner Aragon - RM93688 </h2>

<div class="border border-primary rounded-3 border-5 p-2 mx-5">

  <h2>Objetivo do Exercício:</h2>
    <p>Implementar as operações básicas CRUD (Create, Read, Update, Delete) para um sistema de gestão de fornecedores.</p>

    <h2>Descrição do Exercício:</h2>
    <ol>
        <li>
            <p class="fw-bold">Create (Criar):</p>
            <ul>
                <li>Crie uma classe ou estrutura para representar um fornecedor. O fornecedor deve ter pelo menos os seguintes atributos: ID, nome, endereço e telefone.</li>
                <li>Implemente uma função ou método para adicionar um novo fornecedor ao sistema, solicitando ao usuário que insira as informações necessárias.</li>
            </ul>
        </li>
        <li>
            <p class="fw-bold">Read (Ler):</p>
            <ul>
                <li>Implemente uma função ou método para exibir todos os fornecedores cadastrados no sistema, mostrando todos os seus atributos.</li>
            </ul>
        </li>
        <li>
            <p class="fw-bold">Update (Atualizar):</p>
            <ul>
                <li>Implemente uma função ou método para atualizar as informações de um fornecedor existente. Solicite ao usuário que insira o ID do fornecedor que deseja atualizar e, em seguida, permita que eles atualizem as informações do fornecedor.</li>
            </ul>
        </li>
        <li>
            <p class="fw-bold">Delete (Excluir):</p>
            <ul>
                <li>Implemente uma função ou método para excluir um fornecedor do sistema. Solicite ao usuário que insira o ID do fornecedor que deseja excluir e remova-o da lista de fornecedores.</li>
            </ul>
        </li>
    </ol>
</div>
